<div class="bg-gray-50 p-8 rounded-lg shadow-lg mb-12 max-w-4xl mx-auto">
  <h3 class="text-2xl font-semibold text-gray-900 mb-6 border-b pb-2 border-gray-200">
    Yorumlar ({{ totalCommentCount }})
  </h3>
  
  <div 
    class="mb-6 p-6 bg-white rounded-lg shadow hover:shadow-lg transition-all duration-300" 
    *ngFor="let comment of comments"
  >
    <div class="flex items-start mb-3 relative">
      <div class="w-14 mr-4 flex-shrink-0">
        <a href="#">
          <img 
            [src]="comment.profilePictureUrl ?? '../../../../assets/null-profil-photo.png'"
            alt="Profile picture" 
            class="w-14 h-14 rounded-full shadow-lg hover:scale-105 transition-transform duration-300"
          >
        </a>
      </div>
      <div class="flex-grow">
        <a href="#" class="hover:underline">
          <h4 class="text-lg font-semibold text-gray-800">
            {{ (comment.firstName + ' ' + comment.lastName) == 'null null' ? comment.userName : (comment.firstName + ' ' + comment.lastName) }}
          </h4>
        </a>
        <p class="text-gray-500 text-sm">{{ comment.createdDate | formatDate }}</p>

        <div *ngIf="editingCommentId !== comment.id">
          <p class="mt-2 text-gray-700 leading-relaxed">{{ comment.content }}</p>
        </div>
        <div *ngIf="editingCommentId === comment.id" class="mt-2">
          <input 
            [(ngModel)]="editContent" 
            type="text" 
            class="border border-gray-300 rounded-lg p-2 w-full text-gray-700"
          />
        </div>
      </div>

      <div class="relative" *ngIf="identityService.getUserId() === comment.applicationUserId">
        <button (click)="toggleMenu(comment.id)" class="text-gray-500 hover:text-gray-700 focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.75a.75.75 0 100-1.5.75.75 0 000 1.5zM12 12a.75.75 0 100-1.5.75.75 0 000 1.5zM12 17.25a.75.75 0 100-1.5.75.75 0 000 1.5z" />
          </svg>
        </button>

        <div *ngIf="selectedCommentId === comment.id" class="absolute right-0 w-28 bg-white border border-gray-200 rounded-lg shadow-lg z-10">
          <button (click)="editComment(comment.id, comment.content)" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Düzenle</button>
          <button (click)="deleteComment(comment.id)" class="block w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-gray-100">Sil</button>
        </div>
      </div>
    </div>

    <div class="flex justify-end" *ngIf="editingCommentId === comment.id">
      <button (click)="saveComment(comment.id)" class="text-sm bg-yellow-500 hover:bg-yellow-600 text-white py-1 px-4 rounded-lg shadow-md hover:shadow-lg transition-all duration-300 mr-2">
        Kaydet
      </button>
      <button (click)="cancelEdit()" class="text-sm bg-gray-500 hover:bg-gray-600 text-white py-1 px-4 rounded-lg shadow-md hover:shadow-lg transition-all duration-300">
        İptal
      </button>
    </div>

    <div class="flex justify-end" *ngIf="editingCommentId !== comment.id">
      <button class="text-sm bg-indigo-100 hover:bg-indigo-500 hover:text-white py-1 px-4 rounded-lg shadow-md hover:shadow-lg transition-all duration-300">
        Yanıtla
      </button>
    </div>
  </div>
</div>
