<div class="not-found-container py-16 flex flex-col items-center justify-center bg-gray-100 text-gray-800">
  <h1 class="text-9xl font-extrabold text-sky-500 mb-4">404</h1>
  <h2 class="text-4xl font-bold mb-2">Eyvah! Uzayda Kayboldun</h2>
  <p class="text-lg mb-8">Aradığın sayfayı bulamadık.</p>
  <img src="../../../../assets/astronot.png" alt="Kaybolmuş Astronot" class="w-52 h-52 mb-8 rounded-3xl border-2 border-sky-500">
  <a routerLink="/" class="px-8 py-3 bg-sky-500 text-white text-lg rounded-full shadow-lg hover:bg-sky-600 transition-all cursor-pointer">
    Ana Sayfaya Dön
  </a>
</div>
